@import 'normalize.css';

@import '~bulma/sass/utilities/initial-variables';

/*
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
//$primary: $pink;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
//$family-primary: $family-serif;
*/
$primary: $grey-darker;
$primary-invert: $white-ter;

@import '~bulma';

.inc {
  font-size: 20vmin;
}

/*
$primary-color: black;

p {
  font-size: xx-large;
  color: $primary-color;
}
*/
